---
import { Image } from "astro:assets";
import lavaLabBg from "../assets/lavalab-bg.svg";
import Container from "./commons/container.astro";
import { defaultLang, getI18N } from "../i18n/utils";
import labIcon1 from "../assets/lab-icon-1.svg";
import labIcon2 from "../assets/lab-icon-2.svg";
import lab3d from "../assets/lab-3d.png";
import lavaIso from "../assets/3d-lava.png";
const t = getI18N(defaultLang);
---

<main
   class='flex flex-col w-screen relative pt-12 md:pt-32 pb-12 md:pb-24 overflow-x-hidden'
   id='lavalab'
>
   <Image
      src={lab3d}
      alt='3D illustrative model'
      class='parallax-icon absolute z-0 top-20 left-[10%] md:left-[35%] w-[27rem] h-auto object-cover'
      data-animate='fade-in'
   />
   <Image
      src={lavaIso}
      alt='3D model of the lava logo'
      class='hidden md:block parallax-icon absolute z-10 top-[55%] left-[42%] w-[14rem] h-auto object-cover'
   />

   <Container>
      <Image
         src={lavaLabBg}
         alt='Gradient background'
         class='absolute inset-0 -z-20 w-full h-full gap-20 object-cover'
      />
      <div class='flex flex-col gap-16 items-center'>
         <div
            class='relative w-fit mx-auto flex flex-col items-center justify-center gap-0 px-4'
         >
            <div class='flex gap-4' data-animate='slide-up'>
               <h2
                  class='leading-none text-center font-black tracking-normal'
                  style='font-size: clamp(4rem, 15vw, 15rem); letter-spacing: -0.12em;'
                  '
               >
                  LAVA
               </h2>
               <h2
                  class='leading-none opacity-50 text-center font-black italic'
                  style='font-size: clamp(4rem, 15vw, 15rem); letter-spacing: -0.05em;'
               >
                  lab
               </h2>
            </div>
            <h3
               class='leading-none text-center font-light tracking-widest italic mt-[-10px] md:tracking-[1.5vw]'
               style='font-size: clamp(1rem, 2.8vw, 2.5rem);'
            >
               Haus of Creators
            </h3>
         </div>
         <div
            class='grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-20'
            data-animate='stagger-container'
         >
            <div
               class='relative flex flex-col py-10 px-12 md:px-24 gap-0 items-center justify-center rounded-4xl overflow-hidden shadow-lg'
               data-animate='stagger-item'
            >
               <div
                  class='absolute w-full h-full bg-foreground opacity-28 pointer-events-none'
               >
               </div>
               <Image
                  src={labIcon1}
                  alt='Icon REP'
                  class='w-[5rem] h-auto object-cover'
               />
               <h3
                  class='font-secondary font-thin tracking-wide'
                  style='font-size: clamp(2rem, 4.2vw, 3.75rem);'
                  data-i18n='lavalab.cards.rep.title'
               >
                  {t.lavalab.cards.rep.title}
               </h3>
               <p
                  class='font-light leading-relaxed w-full text-center max-w-xs'
                  style='font-size: clamp(1rem, 1.5vw, 1.125rem);'
                  data-i18n='lavalab.cards.rep.description'
               >
                  {t.lavalab.cards.rep.description}
               </p>
            </div>
            <div
               class='relative flex flex-col py-10 px-12 md:px-24 gap-0 items-center justify-center rounded-4xl overflow-hidden shadow-lg'
               data-animate='stagger-item'
            >
               <div
                  class='absolute w-full h-full bg-foreground opacity-28 pointer-events-none'
               >
               </div>
               <Image
                  src={labIcon2}
                  alt='Icon ACADEMY'
                  class='w-[5rem] h-auto object-cover'
               />
               <h3
                  class='font-secondary font-thin tracking-wide'
                  style='font-size: clamp(2rem, 4.2vw, 3.75rem);'
                  data-i18n='lavalab.cards.academy.title'
               >
                  {t.lavalab.cards.academy.title}
               </h3>
               <p
                  class='font-light leading-relaxed w-full text-center max-w-xs'
                  style='font-size: clamp(1rem, 1.5vw, 1.125rem);'
                  data-i18n='lavalab.cards.academy.description'
               >
                  {t.lavalab.cards.academy.description}
               </p>
            </div>
         </div>
      </div>
   </Container>
</main>
