---
import { Image } from "astro:assets";
import solutionsBg from "../assets/solutions-bg.svg";
import SolutionsCard from "./commons/solutions-card.astro";
import Container from "./commons/container.astro";
import { defaultLang, getI18N } from "../i18n/utils";
import iconPinterest from "../assets/solutions-pinterest.png";
import iconYoutube from "../assets/solutions-yt.png";
import iconTikTok from "../assets/solutions-tiktok.png";
import iconInstagram from "../assets/solutions-ig.png";

const t = getI18N(defaultLang);
---

<main class='flex flex-col w-screen md:min-h-screen relative pt-32 pb-24' id='solutions'>
   <Image
      src={solutionsBg}
      alt='Gradient background'
      class='absolute inset-0 -z-20 w-full h-full object-cover'
   />

   <Image
      src={iconPinterest}
      class='parallax-icon absolute left-[5%] md:left-[25%] top-[5%] md:top-[-5%] z-10 w-[3.5rem] md:w-[7.5rem] h-auto object-cover'
      alt='Icon Pinterest'
   />

   <Image
      src={iconYoutube}
      class='parallax-icon absolute left-[10%] md:left-[2%] top-[50%] z-10 w-[3.5rem] md:w-[6.5rem] h-auto object-cover'
      alt='Icon Youtube'
   />

   <Image
      src={iconTikTok}
      class='parallax-icon absolute left-[80%] md:left-[45%] bottom-[5%] md:bottom-[-10%] z-10 w-[3.5rem] md:w-[9.5rem] h-auto object-cover'
      alt='Icon TikTok'
   />

   <Image
      src={iconInstagram}
      class='parallax-icon absolute right-[2%] top-[30%] z-10 w-[4rem] md:w-[9rem] h-auto object-cover'
      alt='Icon Instagram'
   />

   <div class='relative flex flex-col justify-center gap-16'>
      <h1
         class='leading-none text-center font-extrabold italic tracking-normal md:tracking-[-4px]'
         style='font-size: clamp(3.5rem, 15vw, 15rem);'
         data-i18n='solutions.title'
         data-animate='slide-up'
      >
         {t.solutions.title}
      </h1>
      <Container>
         <div
            class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16'
            data-animate='stagger-container'
         >
            <SolutionsCard
               title={t.solutions.cards.creatorsOrganic.title}
               description={t.solutions.cards.creatorsOrganic.description}
               titleKey='solutions.cards.creatorsOrganic.title'
               descriptionKey='solutions.cards.creatorsOrganic.description'
            />
            <SolutionsCard
               title={t.solutions.cards.ugcAds.title}
               description={t.solutions.cards.ugcAds.description}
               titleKey='solutions.cards.ugcAds.title'
               descriptionKey='solutions.cards.ugcAds.description'
            />
            <SolutionsCard
               title={t.solutions.cards.productSeeding.title}
               description={t.solutions.cards.productSeeding.description}
               titleKey='solutions.cards.productSeeding.title'
               descriptionKey='solutions.cards.productSeeding.description'
            />
         </div>
      </Container>
   </div>
</main>
