---
import { Image } from "astro:assets";
import solutionsBg from "../assets/solutions-bg.svg";
import SolutionsCard from "./commons/solutions-card.astro";
import Container from "./commons/container.astro";
import { defaultLang, getI18N } from "../i18n/utils";
import iconPinterest from "../assets/solutions-pinterest.png";
import iconYoutube from "../assets/solutions-yt.png";
import iconTikTok from "../assets/solutions-tiktok.png";
import iconInstagram from "../assets/solutions-ig.png";

const t = getI18N(defaultLang);
---

<main class='flex flex-col w-screen relative pt-32 pb-24'>
   <Image
      src={solutionsBg}
      alt='Gradient background'
      class='absolute inset-0 -z-20 w-full h-full object-cover'
   />

   <Image
      src={iconPinterest}
      class='parallax-icon absolute left-[25%] top-[-5%] z-10 w-[7.5rem] h-auto object-cover'
      alt='Icon Pinterest'
      data-speed='0.3'
   />

   <Image
      src={iconYoutube}
      class='parallax-icon absolute left-[2%] top-[50%] z-10 w-[6.5rem] h-auto object-cover'
      alt='Icon Youtube'
      data-speed='0.5'
   />

   <Image
      src={iconTikTok}
      class='parallax-icon absolute left-[45%] bottom-[-5%] z-10 w-[9.5rem] h-auto object-cover'
      alt='Icon TikTok'
      data-speed='0.2'
   />

   <Image
      src={iconInstagram}
      class='parallax-icon absolute right-[2%] top-[30%] z-10 w-[9rem] h-auto object-cover'
      alt='Icon Instagram'
      data-speed='0.4'
   />

   <div class='relative flex flex-col justify-center gap-16'>
      <h1
         class='leading-none text-center font-extrabold italic tracking-normal md:tracking-[-4px]'
         style='font-size: clamp(3.5rem, 15vw, 15rem);'
         data-i18n='solutions.title'
      >
         {t.solutions.title}
      </h1>
      <Container>
         <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16'>
            <SolutionsCard
               title={t.solutions.cards.creatorsOrganic.title}
               description={t.solutions.cards.creatorsOrganic.description}
               titleKey='solutions.cards.creatorsOrganic.title'
               descriptionKey='solutions.cards.creatorsOrganic.description'
            />
            <SolutionsCard
               title={t.solutions.cards.ugcAds.title}
               description={t.solutions.cards.ugcAds.description}
               titleKey='solutions.cards.ugcAds.title'
               descriptionKey='solutions.cards.ugcAds.description'
            />
            <SolutionsCard
               title={t.solutions.cards.productSeeding.title}
               description={t.solutions.cards.productSeeding.description}
               titleKey='solutions.cards.productSeeding.title'
               descriptionKey='solutions.cards.productSeeding.description'
            />
         </div>
      </Container>
   </div>
</main>

<script>
   import { animate, scroll } from "motion";

   const icons = document.querySelectorAll(".parallax-icon");

   icons.forEach((icon) => {
      const speed = parseFloat(icon.getAttribute("data-speed") || "0.3");

      scroll(
         animate(icon as HTMLElement, {
            y: [0, -200 * speed],
         }),
         {
            target: icon as HTMLElement,
            offset: ["start end", "end start"],
         }
      );
   });
</script>
